.progress {
 width: 40rem;
  padding: 2rem 5rem;
  margin: auto;
  background: #eee; // для самопроверки
  text-align: center;
}

.progress__bar {
  margin: auto;
  width: 20rem;
  height: 20rem;
  transform: rotate(-90deg);
  rotation: 120deg;
}

.progress__bar--hidden {
  visibility: hidden;
}